<app-breadcrumbs></app-breadcrumbs>
<div
  *ngIf="departmentsSub | async as departments; else loading"
>
  <div *ngIf="departments.length > 0" class="home">
    <div class="controls-group">
      <input
        type="text"
        id="search"
        class="form-control w-75"
        placeholder="Search"
        [(ngModel)]="search"
      >
      <button
        class="btn btn-success ml-1 w-25"
        routerLink="create"
      >Create new department</button>
    </div>

    <div class="cards">
      <app-department-card
        *ngFor="let department of departments | filter:search"
        [department]="department"
      ></app-department-card>
    </div>

  </div>
  <div *ngIf="departments.length === 0">0 departments</div>
</div>
<ng-template #loading>
  <p class="text-center">
    Loading...
  </p>
</ng-template>

