h3 {
  font-size: 1rem;
}

.card {
  width: 200px;
  height: 210px;
  padding: 0.5rem;
}

.buttons {
  position: relative;
  height: 30px;
}

.dropdown-menu {
  border: none;
}

.dropdown-item {
  border: 1px solid #aaa;
  border-radius: 2px;
}
