<div class="card">
  <h3>{{ department.name }}</h3>
  <div class="fa-5x text-center"><i class="far fa-building"></i></div>
  <div class="d-flex">
    <button class="btn btn-sm btn-success w-75 mr-1">Open</button>
    <button class="btn btn-sm btn-success dropdown-toggle w-25" id="dropdownMenuButton" data-toggle="dropdown"></button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item text-center" href="#"><i class="far fa-edit"></i> Edit</a>
      <a class="dropdown-item text-center" (click)="deleteDepartment()"><i class="far fa-trash-alt"></i> Delete</a>
    </div>
  </div>
</div>
