<div class="navbar justify-content-start font-weight-bold">
  <a routerLink="/" class="first-link">Departments</a>
  <div *ngIf="section">
    <span class="angle">></span>
    <span>{{ section }}</span>
  </div>
</div>

